<!DOCTYPE HTML>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>发布快递</title>
	<link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="css/form.css" />
</head>

<body>

	<div class="form-style-10">
		<h1>发布快递</h1><!-- 发布食品 -->
		<form method="post" action="/re_form" novalidate>
			<div class="section">快递信息</div><!-- 食品信息 -->
			<div class="inner-wrap">
				<label>快递编号 <input type="text" name="field1" /></label><!-- 食品编号 -->
				<label>快递公司名称 <input type="text" name="field1" /></label><!-- 食品名称 -->
				<label>快递重量 <input type="text" name="field1" /></label><!-- 食品规格 -->
				<label>发件日期 <input type="text" name="field1" /></label><!-- 食品生产日期 -->
				<label>预计配送时间 <input type="text" name="field1" /></label><!-- 食品保质期 -->
				<label>快递批次号 <input type="text" name="field1" /></label><!-- 食品批次号 -->
				<label>快递公司编号<input type="text" name="field1" /></label><!-- 食品生产许可证编号 -->
				<label>投件人 <input type="text" name="field1" /></label><!-- 食品生产商名称 -->
				<label>快递费用<input type="text" name="field1" /></label><!-- 食品生产价格 -->
				<label>投件人所在地<input type="text" name="field1" /></label><!-- 食品生产所在地 -->
			</div>
			<div class="button-section">
				<input type="submit" name="提交" />
			</div>
		</form>
	</div>

</body>

</html>