<!DOCTYPE HTML>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>添加中转</title>
	<link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
	<link rel='stylesheet' href="css/transit_form.css" type='text/css'>
</head>

<body>
	<div class="form-style-10">
		<h1>中转快递</h1>
		<form method="post" action="/re_transit_form" novalidate>
			<div class="section">中转快递</div>
			<div class="inner-wrap">
				<label>快递编号<input type="text" name="field1" /></label><!-- <label>商品编号<input type="text" name="field1" /></label> -->
				<label>出发时间<input type="text" name="field1" /></label>
				<label>到达时间<input type="text" name="field1" /></label>
				<!-- <label>储存or运输<input type="text" name="field1" /></label> -->
				<label>派件/转运<input type="text" name="field1" /></label><!-- <label>出发地<input type="text" name="field1" /></label> -->
				<label>下一个站点地址<input type="text" name="field1" /></label><!-- <label>目的地<input type="text" name="field1" /></label> -->
				<!-- <label>销售商<input type="text" name="field1" /></label> -->
				<!-- <label>存储时间<input type="text" name="field1" /></label> -->
				<label>运送方式<input type="text" name="field1" /></label>
				<label>物流公司名称<input type="text" name="field1" /></label>
				<!-- <label>费用<input type="text" name="field1" /></label> -->
			</div>
			<div class="button-section" style="text-align: center">
				<input type="submit" name="Sign Up" value="提交"/>
			</div>
		</form>
	</div>

</body>

</html>